<script type="text/javascript">
	// USER VARIABLES
	var user_input; // (array)
	// var user_initial_balance; 
	var months; // max number of months to end the calculating
	var initial_month; // starting point of operation
					   // we have an 0 position as started point, so this values is inclusive
	// AFP VARIABLES
	var comission_balance;
	var afp_comission_balance ; // (array )rate of commision per months
	var selected_performance;
								// its gonna contain 0 rate value if its no a 12th month of operation
	// TRANSACTIONS VARIABLES
	var real_fundtype_performance; // (array)  type fund performance
	var amount_future;             // (array)  how much my money grows over time
	var sum_amount_brute;		   // (array)  easy to read future value
	var inverse_balance;   
	var pension = 0;
	var rate;
	        // (array)  easy to read future value with commision over balance , read from last_post to 0
	function test(){
		initialize_nohistory(480,1,200.00,0.076109699,0.012);
		calculate_to_future();
		fill_arrays_sums();
	};
	function test2(){
		initialize_nohistory();
		calculate_to_future();
		fill_arrays_sums();
		evaluatePension();
		append_result();
	}

	function evaluatePension(){
		rate = 0.0403;
		var fixed = evaluate_rate(rate);
		pension = (fixed / (Math.pow(1 + fixed, 12) - 1)) * inverse_balance[0];

		console.log(pension);
	}
	
	//function initialize_nohistory(n, initial,input, perf, comm) {
	//	months = n;
	//	initial_month = initial;
		
	// 	user_input = []; // must be init clean
	// 	real_fundtype_performance = []; // must be init clean
	// 	afp_comission_balance = []; // must be init clean

	// 	amount_future = []; // must be init clean
	// 	sum_amount_brute = []; // must be init clean
	// 	inverse_balance = []; // must be init clean
		
	// 	var fixed_perf = evaluate_rate(perf);
	// 	for(var i = 0; i <= months; i++) {
	// 		user_input.push(input);
	// 		real_fundtype_performance.push(fixed_perf);
	// 		afp_comission_balance.push(comm);
	// 	}
	// }
	
	function initialize_nohistory() {
		months = <%= current_user.to_retire * 12 %>; // AQUIN QUIERO RUBY DATA
		initial_month = 1; // AQUIN QUIERO RUBY DATA
		var fundOption = $('#fund_id').val();
		getFundValue(fundOption);
		comission_balance = $('#afp_id').val();
		
		user_input = []; // must be init clean
		real_fundtype_performance = []; // must be init clean
		afp_comission_balance = []; // must be init clean

		amount_future = []; // must be init clean
		sum_amount_brute = []; // must be init clean
		inverse_balance = []; // must be init clean
		
		var fixed_perf = evaluate_rate(selected_performance);
		for(var i = 0; i <= months; i++) {
			user_input.push(<%= current_user.financial.salary  * 0.10 %>); // AQUIN QUIERO RUBY DATA
			real_fundtype_performance.push(fixed_perf); // AQUIN QUIERO RUBY DATA
			afp_comission_balance.push(comission_balance); // AQUIN QUIERO RUBY DATA
		}
	}

	function getFundValue(index){
		if(index == 1){
			selected_performance = <%= FundType.find_by(type_index: 1).performance %>;
		}else if(index == 2){
			selected_performance = <%= FundType.find_by(type_index: 2).performance %>;
		}else { 
			selected_performance = <%= FundType.find_by(type_index: 3).performance %>;
		}
	}
	
	
	function initialize_ruby_data()
	{
		// same funtion as initilize_nohistory but with ruby's variables
	}
	function evaluate_rate(rate) {
		return Math.pow( (1.00 + rate ), (1.00 / 12.00) ) - 1;// return TEM of a TEA
	}

	function calculate_to_future(){
		// evalute money's grow of inputs per months over total time operation -> var months
		var amount = 0.00;
		var fixed_perf = 0.00;
		amount_future[0] = (amount); // there is no initial balance evaluation yet
		for(var i = initial_month; i <= months; i++) {
			fixed_perf = real_fundtype_performance[i]; // fix my rates!
			amount = user_input[i];
			amount = amount * (Math.pow( ( 1.00 + fixed_perf) , (months - i) )); // how much my input is gonna grow from here to months(MAX)
			amount_future[i] = (amount); // lets push it in my awesome array
		}
	}

	function fill_arrays_sums(){
		var count = 2;
		var value = amount_future[months];
		sum_amount_brute[months] = value;
		inverse_balance[months] = value;
		for(var i = months - 1; i >= 0; i--) { 
		    value = sum_amount_brute[i + 1] + amount_future[i];
			sum_amount_brute[i] = value;
			
			value = inverse_balance[i + 1] + amount_future[i];
			if(count == 12) {
				count = 0;
				value = value * (1 - afp_comission_balance[i]);
				inverse_balance[i] = value;
			} else {
				inverse_balance[i] = value;
			}
			count ++;
		}
	}

	//----------- scripts old version ---------------

	// var total_acumulado = 0;
	// var flujo = 1;
	// var last_tea = 0;
  $(document).ready(function () {
  	$('#new_transaction')
    $('#bday').datetimepicker({ format: 'YYYY-MM-DD', 
    	minDate: '<%= Date.today + 1.days %>',
    	maxDate: '<%= (current_user.person.birth_date + current_user.person.age_retirement.years).to_s %>' });
    $('#birth_date').val('<%= current_user.person.birth_date + current_user.person.age_retirement.years %>');
});

 //   $('#new_transaction').on('submit',function(e){
	//   	e.preventDefault();
	//   	calcular( $(this) );
 //     //submitJson($(this));
 //   });
 // });

 // function calcular(form){
 // 	var sueldo = $('#transaction_salary');
 // 	if ( sueldo.val() == '' || Number( sueldo.val() ) < 0 ) { return false; }
 // 	var tea = $('#transaction_type_fund_id').val();
 // 	var tem = tasa_efectiva_mensual( tea );
 // 	$('#transaction_tem').val(tem);
 // 	var startdate = new Date( $('#start_date').val() );
 // 	var enddate = new Date( $('#birth_date').val() );
 // 	var months = monthDiff( startdate, enddate );
 // 	if (months < 1) { return false;}
 // 	var retention = Number( sueldo.val() ) * 0.1;
 // 	var acumulado = valor_acumulado(retention, tem, months);
 // 	if(flujo == 1){
 // 		total_acumulado = acumulado;
 // 		$('.empty-text').hide();
 // 	}else{
 // 		if(last_tea == tea){
 // 			total_acumulado += acumulado;
 // 		}else{
 // 			total_acumulado += valor_futuro(total_acumulado, tea, months * 30);
 // 		}
 // 		$('#result-c').append('<hr/>');
 // 	}
 // 	$('#result-c').append('<div class="full-width"><strong>Flujo ' + flujo + '</strong></div>');
 // 	$('#result-c').append('<div class="full-width text-left">De: ' + $('#start_date').val() + '</div>');
 // 	$('#result-c').append('<div class="full-width text-left">Hasta: ' + $('#birth_date').val() + '</div>');
 // 	$('#result-c').append('<div class="full-width text-left">Sueldo: S/. ' + sueldo.val() + '</div>');
 // 	$('#result-c').append('<div class="full-width text-left">Rentabilidad: ' + 
 // 		$('#transaction_type_fund_id :selected').text() + '</div>');
 // 	$('#result-c').append('<div class="full-width text-left">Depósitos: ' + months + '</div>');
 // 	$('#result-c').append('<div class="full-width text-left"><strong>Total: S/. ' + total_acumulado.toFixed(2) + '</strong></div>');

 function append_result(){
 	$('.empty-text').remove();
 	$('#result-c').append('<div class="full-width"><strong>Fondo acumulado</strong></div>');
 	$('#result-c').append('<div class="full-width text-left">meses: ' + months + '</div>');
 	$('#result-c').append('<div class="full-width text-left">aporte: S/. ' + user_input[0].toFixed(2) + '</div>');
 	$('#result-c').append('<div class="full-width text-left">saldo: S/. ' + inverse_balance[0].toFixed(2) + '</div>');
 	$('#result-c').append('<div class="full-width text-left">pension: S/. ' + pension.toFixed(2) + '</div>');
 }


 // 	$('#result').val( total_acumulado.toFixed(2) );

 // 	if( $('#start_date').data('enddate') == $('#birth_date').val() ){
 // 		$('#generar').attr('disabled', true);
	// 	}

	// 	$('#months').val(months);
 // 	update_transaction(form);
 // 	$('#start_date').val( $('#birth_date').val() );
 // 	$('#label_date').text('Calcular de ' + $('#birth_date').val() + ' hasta');
 // 	$('#birth_date').val( $('#start_date').data('enddate') );
 // 	flujo +=1;
 // 	last_tea = tea;
 // }
	// function update_transaction(form){
	//   $.ajax({
 //     url: '/transaction/create', cache: false,
 //     type: 'POST', data : form.serialize(),
 //     success: function(json) {
 //     },
 //     error: function(request, status, error) {
 //     }
	//   });
	// }
</script>