<div class="contenido-panel">
    <div class="login-modal">
        <span id="registration_fail" class="response_error" style="display: none;">
                                    Registration failed, please try again.</span>
        <div class="clearfix"></div>
        <div class="alegreya-text full-width center-text font-25 gray padding-v10"> Registrarse</div> 
        <%= form_for(resource, as: resource_name, 
                                    url: registration_path(resource_name),
                                      :html => {:id => "register_users"}) do |f| %>                   
            <%= link_to main_app.user_omniauth_authorize_path(:facebook), 
                       :style => 'margin-bottom:5px;', :class => 'btn social-link' do %>                        
              <i class="fa fa-facebook login"></i> Registrate con facebook
            <% end %>

          <div class="text-and-line gray" style="padding-bottom:10px;">
            <span> o bien</span>
          </div>

          <input type="hidden" id="beta_token" name="beta_token" value="" />
          
          <%= f.email_field :email, autofocus: true, 
                :class => 'form-control open-sans big-textbox RegEmail', :placeholder => 'Email', :required => true, 
                :title => 'Debes ingresar tu Email', :style => 'margin-bottom:10px;',
                :onkeyup => 'return borrarError(event);' %>
          <%= f.password_field :password, :placeholder => 'Password', 
            :class => 'form-control open-sans big-textbox RegPassword', :style => 'margin-bottom:10px;', 
            autocomplete: "off" , :onkeyup => 'return borrarError(event);' %>
          <%= f.password_field :password_confirmation, :placeholder => 'Password', 
            :class => 'form-control open-sans big-textbox RegConfirmPassword', :style => 'margin-bottom:10px;', 
            autocomplete: "off" , :onkeyup => 'return borrarError(event);' %>

          <%= f.submit 'Regístrate' ,:class =>'btn btn-block btn-beta', 
                                        :OnClick => 'return validaRegistro();' %>  
          <div class="full-width padding-v10 center-text open-sans font-11">
            Al registrarte estas aceptando nuestros
            <a class="beta-link beta-link no-link" href="#"> Términos y condiciones </a>
            y
            <a class="beta-link beta-link no-link" href="#"> Política de privacidad</a><br>
            <div class="full-width" style="height:5px;"></div>
            Ya tienes una cuenta?
            <a class="lost_password beta-link no-link" href="#" id="lstp" style="color:blue;" 
                  onClick="return register_to_Login();"> Inicia sessión</a> 
          </div>
             
        <% end %> 
    </div>  
</div>