<div class="full-width" style="margin-top: 10%;">
  <center>
    <div class="full-width font-20 center-text open-sans bold padding-v10">Regístrate</div>
    <div class="max-320">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), 
                                          :html => {:id => "sign_in_user"}) do |f| %>

      <div class="form-group">
        <%= f.email_field :email, :class => 'form-control',
                  :placeholder => 'Email', autofocus: true, :required => true, 
                  :title => 'Debes ingresar tu Email' %>
      </div>
      <div class="form-group">
      <%= f.password_field :password, :placeholder => 'Password', 
              :class => 'form-control', autocomplete: "off",
              :required => true %>
      </div>
       <div class="form-group">
      <%= f.password_field :password_confirmation, :placeholder => 'Confirma Password', 
              :class => 'form-control', autocomplete: "off",
              :required => true %>
      </div>

      <div class="form-group">
        <%= f.submit 'Registrate', :id => 'login_btn', :class => 'btn btn-primary full-width' %>
      </div>
      <% end %>
      <%= link_to "Inicia sesión", new_session_path(resource_name) %><br />
    </div>
  </center>
</div>
