<div style='margin-left: 15px;'>
	<div class="profile-config-text">Configuración</div>
	<ul class="custom-tabs-v" style="font-size: 16px;" >
	  <li role="presentation"><a data-target="edit" class="no-link links-tab-v active" data-toggle="tab" href="#"> Editar perfil</a></li>
	  <li role="presentation"><a data-target="finance" class="no-link links-tab-v" data-toggle="tab" href="#">Datos Financieros</a></li>
	  <li role="presentation"><a data-target="password" class="no-link links-tab-v" data-toggle="tab" href="#">Contraseña</a></li>
	</ul>
</div>


<script type="text/javascript">
	$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
		$('#profile-content').empty();
		$('#loader').show();
	  var target = $(this).data("target");
	  $.ajax({
	    type: "GET",
	    url: '/edit_profile',
	    data: {tab: target},
	    dataType: "script"
	  });
	});
	$('.links-tab-v').click(function(){
		$('.links-tab-v').removeClass('active');
		$(this).addClass('active');
	});
</script>