<div class='label-form-title'>Datos financieros</div>

<%= form_for @finance, :url => '/finance_data', :method => 'post'  do |f| %>
  <div class="row alegreya-text" style="padding-left: 13px;">
    <div class="col-sm-6 col-md-6">

    	<%= f.hidden_field :person_id %>

      <div class="form-group">
        <%= f.label 'Salario', class: 'custm-label-for'%>
          <%= f.text_field :salary, class: 'form-control', 
                                      :placeholder => "Ingresa tu salario" %>
      </div>
      <div class="form-group">
        <%= f.label 'Aporte inicial', class: 'custm-label-for'%>
          <%= f.text_field :initial_balance, class: 'form-control', 
                                      :placeholder => "Ingresa un monto inicial" %>
      </div> 
      
      <div class="form-group">
        <%= f.label 'Aporte deseado', class: 'custm-label-for'%>
          <%= f.text_field :wished_input, class: 'form-control', 
                                      :placeholder => "Ingresa el monto que deseas aportar" %>
      </div> 
      
     <div class="form-group">
        <%= f.label 'AFP', class: 'custm-label-for'%>
        <%= f.select :afp_id, Afp.all.collect {|p| [ p.name + '  ( ' + (p.comission_input * 100).to_s + ' %)', p.id ] } %>
      </div>

      <div class="form-group">
        <div class="pull-right">
          <%= f.submit 'Guardar', class: "btn accept-green" %>
        </div>
      </div>

    </div>
  </div>
<% end %>

<script>
  $('#financial_data_afp_id').addClass('form-control');
</script>
