<div class='label-form-title'>Editar Perfil</div>

<%= form_for @person  do |f| %>
  <div class="row alegreya-text" style="padding-left: 13px;">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="form-group" >
        <div style="max-width: 220px;" id="curr-user-pic">
          <%= f.label 'Foto de perfil', class: 'custm-label-for'%>
          <%= @person.profile_picture({size: 220,klass: 'img-responsive curr-profile'}) %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label 'Nombres', class: 'custm-label-for'%>
          <%= f.text_field :first_name, class: 'form-control', 
                                      :placeholder => "Ingresa tu nombre",
                                      :onkeyup => 'return borrarError(event);' %>
      </div>
      <div class="form-group">
      <%= f.label 'Apellidos', class: 'custm-label-for' %>
          <%= f.text_field :last_name, class: 'form-control', 
                                  :placeholder => "Ingresa tus Apellidos",
                                  :onkeyup => 'return borrarError(event);' %>
      </div> 
      
     <div class="form-group">
        <%= f.label 'Fecha de nacimiento', class: 'custm-label-for' %>
        <div class='input-group date' id='bday'>
          <%= f.text_field :birth_date, class: 'form-control' %>
          <span class="input-group-addon">
            <span class="fa fa-calendar"></span>
          </span>
        </div>
      </div>


    </div>

  <!-- second col -->
    <div class="col-xs-12 col-sm-5 col-md-5 col-with-margin">

     <div class="form-group">
        <%= f.label 'DNI o Pasaporte', class: 'custm-label-for' %>
          <%= f.text_field :dni, class: 'form-control', 
                                  :placeholder => "Ingresa tu DNI",
                                  :onkeyup => 'return borrarError(event);' %>
      </div>

      <div class="form-group">
        <%= f.label 'Edad de retiro', class: 'custm-label-for' %>
          <%= f.text_field :age_retirement, class: 'form-control', 
                                  :placeholder => "Ingresa cuando te retirarás",
                                  :onkeyup => 'return borrarError(event);' %>
      </div>

      <div class="form-group"  style="margin-left: 5px;">
        <%= f.label 'Género', class: 'custm-label-for' %><br>
        <%= f.radio_button :gender, 'male' %>
        <%= f.label :gender, 'Hombre', :value => 'male', class: 'custm-label-for', style: 'font-size:15px; margin-left:5px;' %><br>
        <%= f.radio_button :gender, 'female' %>
        <%= f.label :gender, 'Mujer', :value => 'female', class: 'custm-label-for',  style: 'font-size:15px; margin-left:5px;' %>
      </div>

    </div>

  </div>


<!-- footer col -->
  <div class="row alegreya-text" style="padding-left: 13px;">
    <div class="col-sm-11 col-md-11">
      <div class="form-group">
        <div class="pull-right">
          <%= f.submit 'Guardar', class: "btn accept-green", :OnClick => 'return Profile();' %>
        </div>
      </div>
    </div>
  </div>

<% end %>

<script>
  $(document).ready(function () {
    $('#bday').datetimepicker({ format: 'YYYY-MM-DD' });
  });
</script>

