<div class="container-fluid no-padding-h alegreya-text page-max" style="background-color: white;">
  <br><br>
  <div class="col-sm-2 col-md-2">
      <%= render 'users/edit_tabs' %>
  </div>
  <div class="col-sm-10 col-md-10">
    <div id="loader" hidden style="position: absolute; top:45%; left:40%; margin-left: -50px;"><img id="loader-gif" style="width: 100px;" src="<%= image_path('ajax-loader.gif') %>"/></div>
    <div id="profile-content">
      <%= render 'users/form' %>
    </div>
  </div>
</div>

<br>
<br>
<br>

<style type="text/css">
  .col-md-12{
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
  .bg-page{
    background-color: white!important;
  }
  #banner-uploader{
    z-index:9999;
  }
</style>