$('#loader').hide();
var container = $('#profile-content');
container.empty();

<% if params[:tab] == "edit" || params[:tab].blank? %>
									container.append("<%= j render(:partial => 'users/form') %>");

<% elsif params[:tab] == "finance" %>
										container.append("<%= j render(:partial => 'users/finance') %>");

<% elsif params[:tab] == "password" %>
										container.append("<%= j render(:template => 'users/password') %>");
	
<% end %>