 <div class='label-form-title'>Cambiar contraseña</div>

<%= form_for :user, url: '/users/password' do |f| %>
  <div class="col-md-5">
    <div class="form-group">
      <%= f.label :password_actual, 'Contraseña', class: 'custm-label-for' %>
      <%= f.password_field :password_actual, autofocus: true, autocomplete: "off", class: 'form-control',
                        :onkeyup => 'return borrarError(event);' %>
    </div>

    <div class="form-group">
      <%= f.label :password, 'Nueva contraseña', class: 'custm-label-for' %>
      <%= f.password_field :password,  autocomplete: "off", class: 'form-control passwds',
                                          :onkeyup => 'return borrarError(event);'   %>
    </div>

     <div class="form-group">
      <%= f.label :password_confirmation, 'Confirmar contraseña', class: 'custm-label-for' %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control passwds_confirm',
                                          :onkeyup => 'return borrarError(event);' %>
    </div>

    <br>
    <div class="form-group">
      <div class="pull-right">
        <%= f.submit 'Guardar', class: "btn accept-green", :OnClick => 'return setPasswordVal();' %>
      </div>
    </div>
  </div>

<% end %>

<script type="text/javascript">
  function setPasswordVal(){
    $('.text-danger').remove();

    if(!TamañoTexto($('#user_password_actual'),8)){
      return EfectoError();
    }else if( !TamañoTexto( $('.passwds') , 8 ) ){
      return EfectoError();
    }else if( !validaPasswordIguales( $(".passwds"),$('.passwds_confirm')) ){
        return EfectoError();
    }
    return true;
  }
</script>

