
<div class="contenido-panel">
  <div class="login-modal">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), 
                              html: { method: :put, id: 'reset_pswd' }) do |f| %>
      <%= f.hidden_field :reset_password_token %>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, 
                            :class => 'form-control restore-password', 
                            :placeholder => 'Email', :required => true, 
                            :title => 'Debes ingresar tu Email', 
                            :onkeyup => 'return borrarError(event);' %>
      </div> 
    
      <div class="form-group">
        <%= f.password_field :password, autofocus: true, autocomplete: "off", 
           class: 'form-control', placeholder: 'Contraseña' %>
      </div>

      <div class="form-group">
        <%= f.password_field :password_confirmation, autocomplete: "off", 
                                        class: 'form-control', 
                                        placeholder: 'Confirma contraseña' %>
      </div>
      
      <div class="form-group">
        <%= f.submit "Actualizar", class: "btn btn-beta full-width" %> 
      </div>
      <div class="clearfix"></div>                    
      <%= link_to 'Iniciar sessión', root_path, 
            class: "lost_password beta-link no-link white",'data-no-turbolink' => true  %>
      
    <% end %>
      
  </div>
</div>

