<div class="contenido-panel">
<div class="login-modal"><br/><br/>
  <div class="alegreya-text full-width center-text font-30 gray padding-v10">Recuperar contraseña</div> 
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), 
                                :html => {:id => "password_users"}) do |f| %>
    <div class="form-group">
      <%= f.email_field :email, autofocus: true, 
            :class => 'form-control open-sans big-textbox lostEmail', 
            :id => 'login_username', :placeholder => 'Email', :required => true, 
            :title => 'Debes ingresar tu Email', 
            :onkeyup => 'return borrarError(event);' %>
    </div> 
    
    <div class="form-group">
      <%= f.submit 'Enviar contraseña', :id => 'password_btn', 
           :class => 'btn btn-block btn-beta', :style => 'margin-bottom:10px;', 
           :OnClick => 'return validaOlvidoPassword();' %>
    </div>
    <div class="clearfix"></div>                    
    <a class="lost_password beta-link no-link gray" href="#" 
      onClick="return password_to_login();"> o bien inicia sessión </a>
  <% end %>
</div>  
</div>