<% if !current_user.present? %>
	<div class='max-height' id="landing-auth-container" style="display:none;">
		<%= render 'shared/loader' %>
    <div class="container-opacity">
      <%= render :template => 'devise/sessions/new' %>
    </div>
    <button type="button" class="boxclose opened" onClick="return box_close($(this));"></button>
  </div>
<% end %>