<script type="text/javascript">
	<% flash.each do |name, msg| %>
		$.notify({
			// options
			message: "<%= msg %>" 
		},{
			// settings
			placement: {
				from: "bottom",
				align: "center"
			},
			// Devise uses notice instead of info
			<% if name == "notice" or name == "info" %>
				icon: 'glyphicon glyphicon-info-sign',
				type: 'info'
			<% elsif name == "warning" %>
				icon: 'glyphicon glyphicon-warning-sign',
				type: 'warning'
			<% elsif name == "danger" %>
				icon: 'glyphicon glyphicon-exclamation-sign',
				type: 'danger'
			<% elsif name == "success" %>
				icon: 'glyphicon glyphicon-check',
				type: 'success'
			<% end %>
		});
	<% end %>
</script>