<nav class="navbar navbar-default">
	<div class="navbar-header">
	  <div class="inline" style="margin-top:10px;">
	    <%= link_to 'Learn Easy', root_path, :class => 'no-link header-nav', :style => 'padding:10px;' %>
	  </div>
	  <% if user_signed_in? %>
	  <button type="button" class="pull-right item-mobile" id="mostrar-nav" 
      style="background-color: transparent; margin-right: 10px; margin-top: 8px; border: none;" >
      <i class="fa fa-bars fa-2x"></i>
    </button>
    <% end %>
	</div>

	<% if user_signed_in? %>
    <% person = current_user.person %>
    <ul class="nav navbar-nav navbar-right item-page">
      <li class="nav-pic">
        <%= link_to edit_profile_path do %>
          <%= person.profile_picture( { size: 28 } ) %>
        <% end %>
      </li>

      <li class="dropdown item-page" style="margin-left:7px;">
        <button class="dropdown-toggle nav-user" id="drop-link" type="button" data-toggle="dropdown">
        <%= person.short_name %> <span class="caret"></span></button>
        <ul class="dropdown-menu" id="drop-toggle">
          <li>
            <%= link_to edit_profile_path, :class => 'padding-v6' do %>
              <%= person.profile_picture( { size: 38, klass: 'img-circle drop-img'} ) %>
              <%= person.full_name %>
              <div class="font-11 gray">Ver Perfil</div>
            <% end %>
          </li>
          <li class="divider"></li>
          <li>
            <%= link_to destroy_user_session_path, :method => :delete do %>
            <span class="fa fa-sign-out menu-icono-title"></span> Finalizar Sessión
            <% end %>
          </li> 
        </ul>
      </li>    

    </ul> 
  <% else %>
    <ul class="nav navbar-nav navbar-right">
      <button type="button" class="btn circle-button b-green" id="landing-launch-auth" 
        onClick="return auth_show();" style="margin-right: 20px; margin-top: 7px;">
              Registrate / inicia sesión</button>
    </ul>
  <% end %>
</nav>