
<nav class="nav-mobile">
	<ul class="menu">
		
	  <% if user_signed_in? %>
	    <% person = current_user.person %>
			<li class="dropdown list" id="user-li">
				<a href="#" class="dropdown-toggle" id="user-menu">
          <%= person.profile_picture( { size: 34, klass: 'img-circle'} ) %>
          <div class="menu-label not-display"><%= person.full_name %></div>
	      </a>
			  <ul class="submenu">
			    <li><%= link_to('Edit Profile', edit_profile_path ) %></li>
			    <li><%= link_to('Logout', destroy_user_session_path, :method => :delete ) %></li>                
			  </ul>		  
			</li>
	  <% end %>
		
		<li id="stock-li">
			<%= link_to '/home' do %>
			<i class="fa fa-h-square"  id="menu-icono-title"></i>
			<div class="menu-label not-display"> Home</div></a>
			<% end %>
		</li>
		
		<li id="caja-li">
			<a href="/beneficiaries" ><i class="fa fa-file-text-o" id="menu-icono-title"></i>
			<div class="menu-label not-display"> Beneficiarios</div></a>
		</li>

		<li id="record-li">
			<a href="/transaction/create" ><i class="fa fa-pencil-square-o" id="menu-icono-title"></i>
			<div class="menu-label not-display"> Generar flujo</div></a>
		</li>

		<li id="record-li">
			<a href="#" ><i class="fa fa-pie-chart" id="menu-icono-title"></i>
			<div class="menu-label not-display"> Reportes</div></a>
		</li>
		
	</ul>  
</nav>
<script type="text/javascript">
	$('#mostrar-nav').on('click',function(){
		show_menu();
  });
  $( ".nav-mobile" )
  .mouseenter(function() {
  	$('nav.nav-mobile').addClass('mostrar');
  	setTimeout(function(){ $('.menu-label').removeClass('not-display'); }, 100);
  })
  .mouseleave(function() {
    $('nav.nav-mobile').removeClass('mostrar');
  	setTimeout(function(){ 
  	  $('.menu-label').addClass('not-display'); 
  	  $('.dropdown.list').removeClass('nohover');
  	}, 100);
  });
  function show_menu(){
   	$('nav.nav-mobile').toggleClass('mostrar');
  	setTimeout(function(){ $('.menu-label').toggleClass('not-display'); }, 100);
  }
  $(document).ready(function(){
	  $('.dropdown.list').on('click',function(){
	    var actual = $(this);
	    $('.dropdown.list').each(function(){
	      if($(this)[0] != actual[0] ){
	          $(this).removeClass('nohover');
	      }
	    });
	    actual.toggleClass('nohover');
	  });
	});
</script>

<% if @view.present? %>
	<script type="text/javascript">
		$('<%= @view %>').addClass('actives');
	</script>
<% end %>