<div class="modal fade" tabindex="-1" role="dialog" id="addBeneficiary" style="z-index:1050;">
  <div class="modal-dialog">
    <div class="modal-content" style="padding-left:2%; padding-right:2%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title alegreya-text">Agregar Beneficiario</h4>
      </div>
      <%= form_for :person, :url => '/persons'  do |f| %>
      <div class="modal-body alegreya-text">

		      <div class="form-group">
		        <%= f.label 'Nombres', class: 'custm-label-for'%>
		          <%= f.text_field :first_name, class: 'form-control', 
		                                      :placeholder => "Ingresa tu nombre",
		                                      :onkeyup => 'return borrarError(event);' %>
		      </div>
		      <div class="form-group">
		      <%= f.label 'Apellidos', class: 'custm-label-for' %>
		          <%= f.text_field :last_name, class: 'form-control', 
		                                  :placeholder => "Ingresa tus Apellidos",
		                                  :onkeyup => 'return borrarError(event);' %>
		      </div> 

		     <div class="form-group">
		        <%= f.label 'Fecha de nacimiento', class: 'custm-label-for' %>
		        <div class='input-group date' id='bday'>
		          <%= f.text_field :birth_date, class: 'form-control' %>
		          <span class="input-group-addon">
		            <span class="fa fa-calendar"></span>
		          </span>
		        </div>
		     </div>

		    <div class="form-group">
	        <%= f.label 'DNI o Pasaporte', class: 'custm-label-for' %>
	          <%= f.text_field :dni, class: 'form-control', 
	                                  :placeholder => "Ingresa tu DNI",
	                                  :onkeyup => 'return borrarError(event);' %>
	      </div>

	      <div class="form-group">
	        <%= f.label 'Parentesco', class: 'custm-label-for' %>
	        <input type="text" name="parent" id="parent" class="form-control" placeholder="Ingresa el parentesco" >
	      </div>

	      <div class="form-group"  style="margin-left: 5px;">
	        <%= f.label 'Género', class: 'custm-label-for' %><br>
	        <%= f.radio_button :gender, 'male' %>
	        <%= f.label :gender, 'Hombre', :value => 'male', class: 'custm-label-for', style: 'font-size:15px; margin-left:5px;' %>
	        <%= f.radio_button :gender, 'female', :style => 'margin-left: 20px;' %>
	        <%= f.label :gender, 'Mujer', :value => 'female', class: 'custm-label-for',  style: 'font-size:15px; margin-left:5px;' %>
	      </div>

      </div>
      <div class="modal-footer" style="margin-top: -25px;">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit 'Guardar', class: "btn accept-green", :OnClick => 'return Profile();' %>
      </div>

      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
  $('#person_condition_health').addClass('form-control');
  $(document).ready(function () {
    $('#bday').datetimepicker({ format: 'YYYY-MM-DD' });
  });
</script>


