
<center>
  <div style="max-width:330px;">
    <div class="full-width open-sans" style="text-align:left; font-size: 18px;">
      Selecciona lo que deseas calcular.</div>
    <table style="margin-top:10px;" id="simple_rate">
      <thead>
        <tr>
          <td style="width:100px;"></td>
          <td style="width:100px;"></td>
          <td style="width:130px;"></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input type="checkbox" name="rate" value="i"> Tasa simple</td>
          <td>
            <select class="form-control" id="select-rate">
              <option value="360">anual</option>
              <option value="180">semestral</option>
              <option value="120">cuatrimestral</option>
              <option value="90">trimestral</option>
              <option value="60">bimestral</option>
              <option value="30">mensual</option>
              <option value="15">quincenal</option>
              <option value="1">diaria</option>
            </select>
          </td>
          <td><div class="inline" style="width:20px; padding-left:2px;"> de </div><div 
          class="inline" style="width:100px;"><input type="text" class="form-control" 
          id="rate"/></div></td>
        </tr>
        <tr>
          <td><input type="checkbox" name="time" value="T"> Tiempo</td>
          <td><input type="text" class="form-control" id="time"/></td>
          <td>
            <div class="inline" style="width:16px; padding-left:2px;"> en </div>
            <div class="inline" style="width:75px;">
              <select class="form-control" id="select-time">
                <option value="360">año [s]</option>
                <option value="180">semestre [s]</option>
                <option value="120">cuatrimestre [s]</option>
                <option value="90">trimestre [s]</option>
                <option value="60">bimestre [s]</option>
                <option value="30">mes [es]</option>
                <option value="15">quincenal [es]</option>
                <option value="1">diario [s]</option>
              </select>
            </div>
            <button class="btn btn-primary" style="width:25px; padding-left: 5px;
            padding-right: 5px;">+</button>
          </td>
        </tr>
        <tr>
          <td><input type="checkbox" name="capital" value="C"> Capital</td>
          <td><input type="text" class="form-control" id="capital"/></td>
        </tr>
        <tr>
          <td><input type="checkbox" name="interes" value="I"> Interés</td>
          <td><input type="text" class="form-control" id="interes"/></td>
        </tr>
        <tr>
          <td><input type="checkbox" name="stock" value="C"> [S] monto devuelto</td>
          <td><input type="text" class="form-control" id="stock"/></td>
          <td><button type="button" class="btn btn-primary" 
          style="width:100px; margin-left:20px;" onclick="calculate_rate_simple();">
          Calcular</button></td>
        </tr>
      </tbody>
    </table>
    <br>
    <div style="float:left;">
      <div class="inline" style="width:98px; text-align:left;">Resultado:  </div>
      <div class="inline"><input type="text" class="form-control" 
      style="width:100px;" id="result"/></div>
    </div>
  </div>
</center>

<script>
  function calculate_rate_simple(){
    //some validations
    var c = $('#capital').val();
    var r = $('#rate').val() /  100;
    var is = $('#select-rate').val(); 
    var t = $('#time').val() * $('#select-time').val() / is;
    var s = c * (1 + r * t);
    $('#result').val(s);
  }
</script>
<style type="text/css">
  #simple_rate tbody td{
    padding-top:5px;
  }
</style>