<br>
<div class="full-width padding-h20">
  <div class='label-form-title alegreya-text'>Tus Actividades</div>
  <% if @transactions.count < 1 %>
    <div class="col-sm-4 col-md-4 open-sans">
      <center>
        <div class="result-container" id="result-c">
          <div class="full-width empty-text">No as creado ningun flujo</div>
        </div>
      </center>
    </div>
  <% else %>
    <% @transactions.each do |t| %>
    <div class="col-sm-4 col-md-4 open-sans">
      <center>
        <div class="result-container" id="result-c">
          <div style="margin-bottom:10px;"><strong>Flujo ejecutado el <%= t.transaction_date.to_s %></strong></div>
          <% t.details.each_with_index do |d, index| %>
          <% if index > 0 %>
            <hr/>
          <% end %>
          <div class="full-width text-left"><strong>Flujo <%= index + 1 %></strong></div>
          <% end %>
          </div>
        </center>
      </div>
    <% end %>
  <% end %>
</div>