	<div class="alegreya-text font-25 white" 
		style="position: absolute; top: 20%; padding: 2%; max-width: 360px; width: 98%;">
		Con Learn Easy podrás aprender de manera sencilla todo lo que necesitas saber para tomar las desiciones correctas sobre tus finanzas.
	</div>
<style type="text/css">
  body{
    background: url('<%= image_url('learn_easy.jpg') %>') no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		width: 100%;
		top: 0;
		left: 0;
  }
</style>
<script type="text/javascript">
	$('body').css({'height' : $(window).height() });
</script>