<br>
<br>
<div class="full-width padding-h20">
	<button class="btn btn-primary pull-right" data-toggle="modal" data-target="#addBeneficiary">+ Agregar</button>
	<div class='label-form-title' style="margin-left:-10px;">Beneficiarios</div>
	<div class="table-responsive" style="margin-top:20px;">
		<table class="table">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Edad</th>
					<th>DNI</th>
					<th>Condición de salud</th>
					<th>Parentesco</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @persons.each do |p| %>
					<tr>
						<td><%= p.person.first_name %></td>
						<td><%= p.person.last_name %></td>
						<td><%= p.person.age %></td>
						<td><%= p.person.dni %></td>
						<td><%= p.person.condition_health %></td>
						<td><%= p.dependent_type %></td>
						<td><%= link_to 'Eliminar', '/dependent_destroy/' + p.id.to_s, :method=> :post %></td>
					</tr>
				<% end %>
			</tbody>
  	</table>
	</div>
</div>

<%= render 'persons/form' %>