<div class="contenido-panel landing-login-cont">
  <div class="login-modal">
    <div class="clearfix"></div><br/>
    <div class="alegreya-text full-width center-text font-30 gray padding-v10">Inicia sessión</div> 
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), 
                                    :html => {:id => "sign_in_user"}) do |f| %>
      <div class="form-group">
        <%= link_to main_app.user_omniauth_authorize_path(:facebook), :class => 'btn social-link' do %>                        
        <i class="fa fa-facebook login"></i>Ingresa con facebook
        <% end %>
      </div>

      <div class="text-and-line gray" style="padding-bottom:10px;">
        <span>o bien</span>
      </div>

      <%= f.text_field :email, :class => 'form-control open-sans big-textbox',
                :placeholder => 'Usuario o email', autofocus: true, :required => true, 
                :title => 'Debes ingresar tu Email', 
                :onkeyup => 'return borrarError(event);' %>
      <br>
      <%= f.password_field :password, :placeholder => 'Password', 
                :class => 'form-control open-sans big-textbox', autocomplete: "off",
                :required => true, :onkeyup => 'return borrarError(event);' %>
      <div class="full-width padding-v10 left-text">
        <a class="lost_password beta-link no-link gray font-13" href="#"  
                onClick="return login_to_password();"> Olvidaste tu contraseña?</a>
      </div>
      
      <%= f.submit 'Iniciar sessión', :id => 'login_btn', 
                :class => 'btn btn-block btn-beta', :OnClick => 'return validaLogin();' %>
      <div class="full-width padding-v10 center-text open-sans font-13">
        No tienes una cuenta? 
        <a class="lost_password beta-link no-link" href="#" style="color:blue;" 
                 onClick="return login_to_register();"> Registrate ahora!</a>
      </div>
    <% end %>   
  </div>  
</div>