<!--Contenidos -->
<div class="landing-forms-container">
	<!-- -Login -->
	<center>
		<div id="modals-container" onclick='set_form();' style="width: 100%; max-width: 680px;">
			<div class="col-sm-6 col-md-6 no-padding item-page welcome-back" id="auth-image" style="min-height: 415px;">
				<div class="image-opacity">
					<br><br><br>
					<div class="auth-content welcome-back">
						<div class="alegreya-text left-text font-30 white">Bienvenido nuevamente</div>
						<div class="alegreya-text font-18 left-text white padding-v10">Gracias por estar aquí y compartir con nosotros</div>
					</div>
					<div class="register-content not-display">
						<div class="alegreya-text left-text font-25 white">Crea tu cuenta en Learn Easy</div>
						<div class="alegreya-text font-18 left-text white padding-v10">Registrate en Learn Easy y disfruta de los beneficios</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-6" style="background-color:white; min-height: 415px;">
				<div id="pass-container-form" style="padding-top:50px; display: none;">
					<%= render  :template => 'devise/passwords/_form', :locals => {:resource => resource} %> 
				</div>
				<div id="login-container-form" style="display:block;" >
			  	<%= render 'devise/sessions/form' %>
				</div>
				<div id="registrations-container-form" style="display:none;">
					<%= render  :template => 'devise/registrations/_form', :locals => {:resource => resource} %>
				</div>
				<div id="reset-pswd-container-form" style="display:none;">
					<%= render  :template => 'devise/passwords/_edit_form', :locals => {:resource => resource} %>
				</div>
			</div>
		</div>
	</center>
</div>

<style type="text/css">
	#auth-image.welcome-back{
		background: url('<%= image_url("finance.jpg") %>') no-repeat center center; 
		background-size: cover;
	}
	#auth-image{
		background: url('<%= image_url("signup_pic.png") %>') no-repeat center center; 
		background-size: cover;
	}
	.image-opacity{
		width:100%; 
		height:100%; 
		min-height: 415px; 
		background-color:rgba(0,0,0,.4);     
		padding-right: 15px;
    padding-left: 15px;
	}
  .error{
    top: initial!important;
    left: initial!important;
    margin-left:-170px;
  }
  .form-group {
    margin-bottom: 5px!important;
	}
	.navbar-default{
		background-color: rgba(0,0,0,.7)!important;
	}
</style>
