@import "bootstrap";
body{
	font-family: 'Open Sans', sans-serif;
}
.navbar-default{
	position: fixed!important;
	background-color: #293c4e!important;
	border-color: black!important; 
	min-height: 50px;
	top: 0px;
	left: 0px;
	width: 100%;
	color: white;
	border: none!important;
  opacity: 0.96;
  z-index:99;
}
.no-padding{
  padding:0!important;
}
.navbar {
  border-radius: 0px!important;
}
.text-left{
  text-align: left;
}
.result-container{
  max-width: 320px;
  border-radius: 1px;
  padding:10px;
  padding-left:15px;
  border-color: rgba(0,0,0,0.75);
  -webkit-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
}
.header-nav{
	font-size: 22px;
	font-weight: bold;
	font-family: 'Comfortaa';
	vertical-align: middle;
	margin-top:20px;
}
.alegreya-text{
  font-family: 'Alegreya Sans';
  font-weight: 300;
}
.no-link{
  text-decoration:none;
  color: inherit;
}
.no-link:hover, .no-link:active{
  text-decoration:none;
  color:#1e9fb3!important;
}
.max-320{
	max-width: 320px;
}
.cog-btn{
	height: 42px !important;
	border: none !important;
	font-size: 28px;
	color: white;
	background-color: transparent;
	padding-top: 12px;
  margin-right: 20px;
}

.nav-pic a{
	padding: 0px !important;
	margin-top: 10px !important;
}

.nav-pic a:hover{
	background: transparent !important;
	text-decoration: none !important;
}

.nav-name a{
	padding: 0px !important;
	margin: 0px !important;
	color: #fcf7f4 !important;
	font-size: 16px !important;
	margin: 20px 15px 15px 15px !important;
}
.full-width{
	width:100%;
} 
.bold{
	font-weight: bold;
}
.padding-v10{ 
  padding-top: 10px;
  padding-bottom: 10px;
}
.padding-v6{
  padding-top: 6px;
  padding-bottom: 6px;
}
.padding-h25{ 
  padding-right: 25px;
  padding-left: 25px;
}
.padding-h20{ 
  padding-right: 20px;
  padding-left: 20px;
}
.padding-h10{ 
  padding-left: 10px;
  padding-right: 10px;
}
.padding-10{
  padding: 10px;
}
.no-padding-h{
  padding-left: 0px!important;
  padding-right: 0px!important;
}
.drop-img {
  float: left;
  margin-right: 6px;
  margin-left: -4px;
}
#drop-toggle {
  margin-right: 16px;
  min-width: 188px;
}
.font-11 {
    font-size: 11px !important;
}
.font-13 {
    font-size: 13px !important;
}
.font-14{
  font-size: 14px!important;
}
.font-15{
  font-size: 15px;
}
.font-20{
  font-size: 20px!important;
}
.font-25{
  font-size: 25px!important;
}
.font-30{
  font-size: 30px!important;
}
.text-and-line{
  overflow: hidden;
  text-align: center;
}
.text-and-line:before,
.text-and-line:after {
  background-color: white;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
.text-and-line:before {
  right: 0.5em;
  margin-left: -50%;
}
.text-and-line:after {
  left: 0.5em;
  margin-right: -50%;
}
.text-and-line.gray:before, .text-and-line.gray:after {
  background-color: gray;
}
.gray {
    color: gray !important;
}
.center-text{
  text-align: center;
  vertical-align: middle;
}
.big-textbox{
  padding: 20px 12px!important;
}
.left-text{
  text-align: left;
}
.well-sm{
  background-color:white!important;
}
.info{
  position: absolute;
  top: 100px;
  left: 75px;
  background-color: gray;
  color: white;
  padding: 2px;
}
.open-sans{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
.item-page{
	display: block;
}
.item-mobile{
	display:none;
}
.nav-user{
  background-color: transparent;
  border: none;
  margin-right: 40px;
  padding-bottom: 11px;
  margin-top: 12.5px;
}
.circle-button.b-green {
  background-color: transparent;
  border-color: #02b875;
  color: #02b875;
  border: 2px solid #02b875;
}
.b-green:hover, .b-green:active{
  color: #02b875!important;
}
#landing-auth-container {
  z-index: 99;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.7);
}
.circle-button {
  -webkit-border-radius: 27px 27px 27px 27px !important;
  border: solid 4px inherit;
  background-color: inherit;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}
.boxclose {
  float: right;
  margin-top: 2px;
  margin-right: 2px;
  cursor: pointer;
  color: #AEAEAE;
  border: none;
  background: transparent;
  font-size: 30px;
  display: inline-block;
  line-height: 0px;
  padding: 9px 4px;
}
.boxclose:before {
    content: "×";
}
.white{
	color: white;
}
.not-display{
	display: none;
}
.error{
  background-color: rgba(100%,0%,0%,0.75);
  padding: 6px 12px;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  position: absolute;
  top: 40px;
  left: 20px;
  z-index: 999;
  width: 340px;
}
.error:before{ /* Este es un truco para crear una flechita */
  content: '';
  border-top: 8px solid transparent;
  border-bottom: 8px solid rgba(100%,0%,0%,0.75);
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  left: 300px;
  position: absolute;
  top: -15px;
}
#center-bar{
	width: 90%;
	margin-left: 7.5%;
}
@media(max-width:1000px){
	#center-bar {
		width: 90%;
		margin-left: 8.5%;
	}
}
@media(max-width:850px){
	#center-bar {
		width: 87%;
		margin-left: 10.5%;
	}
}
@media(max-width:767px){
	.item-page{
		display: none;
	}
	.item-mobile{
		display:block;
	}
	#center-bar {
		width: 95%;
		margin-left: 2.5%;
	}
}