.login-modal form {
  /* min-width: 320px; */
  width:88%;
  max-width: 340px;
}
.modal-content.login-modal{
  max-width: 400px!important;
}
.landing-forms-container {
    position: absolute;
    top: 20%;
    width: 100%;
}
.landing-input-text{
	font-size: 16px !important;
	font-weight: 400;
	padding: 20px !important;
	font-weight: normal !important;
	border-width: 0 !important;
}
.col-with-margin{
  margin-left: 20px;
}
.social-link {
  color: white !important;
  width: 100%;
  font-family: 'Open sans';
  font-size: 15px !important;
  font-weight: 700;
  background-color: #3b5998;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px #3b5998;
  text-align: center;
  vertical-align: middle;
  padding: 6px 12px;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.42857143;
  white-space: nowrap;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  padding-top: 10px;
  padding-bottom: 10px;
}
i.fa.fa-facebook.login {
  color: white;
  padding-right: 6px;
}
.btn-beta {
  background-color: rgba(27,159,180,0.6) !important;
  color: white !important;
  font-family: 'Open sans';
  font-size: 15px !important;
  font-weight: 400;
}
.input-group-vertical {
    margin-bottom: 10px;
}
@media(max-width:767px){
	#landing-launch-auth{
		position: absolute;
    top: 1px;
    left: 100%;
    margin-left: -186px;
	}
  .landing-forms-container {
    top: 10%;
  }
  .col-with-margin{
    margin-left: 0!important;
  }
}