
/*INICIO MENU*/
.menu
{
  list-style: none!important;
  line-height: 42px!important;
  margin: 1em auto!important;
  /*outline: 1px solid red;*/
  padding-left: 0!important;
  z-index: 40;
}
.submenu{
    z-index: 80;
}

.menu a
{
  color: #ddd!important;
  display: block!important;
  padding-left: 1em!important;
  text-decoration: none!important;
  --webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  width: 100%!important;
}

.menu a:hover
{
  margin-left: 1em!important;
}
.icon-mobile-custom{
font-size:16px!important;
}
.menu li
{
  box-shadow: 3px 0 rgba(255,255,255,.2) inset!important;
  margin-bottom: 5px!important;
  padding-left: .1em!important;
  /*outline: 1px solid green;*/
  --webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  list-style:none!important;
}

.menu li:hover
{
  box-shadow: 18em 0 rgba(255,255,255,.2) inset!important;
}
.menu li.actives{
  box-shadow: 18em 0 rgba(255,255,255,.2) inset!important;
}

.menu li.nohover:hover{
  box-shadow: none!important;
}

.menu li:nth-child(2) a
{
  background-position: 0 -42px;
}

.menu li:nth-child(3) a
{
  background-position: 0 -84px!important;
}

.menu li:nth-child(4) a
{
  background-position: 0 -126px!important;
}

.menu li:nth-child(5) a
{
  background-position: 0 -168px!important;
}

.menu li:last-child a
{
  background-position: 0 -210px!important;
}
#menu-icono-title{
margin-left: 2px;
padding-right: 10px!important;
color: white!important;
}
.menu li ul{
display:none;
}
.menu li.nohover ul{
    display:block;
}
.menu-label{
  display: inline-block;
}
.menu-label.not-display{
  display: none!important;
}
/*FIN MENU*/
@media(max-width:767px){
  .menu-label.not-display{
    display: inline-block!important;
  }
  nav.nav-mobile{
    width: 17em!important;
    left: -18em!important;
  }
  nav.nav-mobile.mostrar {
    left: 0px!important;
  }
}

/*POSICION RESPONSIVE MENU*/
nav.nav-mobile {
  background: #293c4e;
  box-sizing: border-box;
  opacity: 0.96;
  left: 0;
  height: 100%;
  padding-right: .25em;
  padding-top: 3em;
  position: fixed;
  top: 50px;
  transition: all .3s;
  z-index: 20000;
  width: 4.5em;
}

nav.nav-mobile.mostrar {
  width: 17em;
}
