.custom-tabs-v{
  padding-left: 0px;
  list-style:none;
}

.links-tab-v{
  text-decoration: none;
  display:block!important;
  padding-bottom:5px;
  color:#afafaf;
  text-indent: -.7em;
}
.links-tab-v.active:before{
  content: "■";
  color:#1e9fb3;
  padding-right: 5px;
}
.links-tab-v:before{
  content: "  ";
  padding-right: 12px;
}

.links-tab-v.active,.links-tab-v:hover,.links-tab-v:link{
  color:#1e9fb3!important;
}
.profile-info-container{
  margin-bottom: 20px; 
  margin-top: 20px; 
  width:100%; 
  min-height:120px;
  padding-left:15px;
}
.alegreya-text{
  font-family: 'Alegreya Sans';
  font-weight: 400;
}
.profile-config-text{
  font-size: 18px; 
  font-weight: bold!important; 
  color: black; 
  margin-bottom: 5px;
}
.custm-label-for{
  font-size: 18px;
  font-weight: 400;
}
.label-form-title{
  font-size: 24px; 
  font-weight: bold; 
  padding-left:13px; 
  margin-bottom: 15px;
}
.btn-upload-picture{
  background-color: #c6c6c6!important;
  font-size: 16px!important; 
  font-weight: bold;
  margin-top: 5px!important; 
  margin-bottom: 5px!important;
  color:white!important;
}
.accept-green{
  background-color: #69bdc9;
  color:white;
  min-width: 120px;
}