.cont-blck{
    width:100%;
    height:100%;
    z-index:9999997;
    background-color: black;
    opacity: 0.8;
    position:fixed;
}
.content-msg{
    width:360px;
    height:25%;
    background-color:white;
    position:fixed;
    top:30%;
    left:50%;
    z-index:9999998;
    margin-left:-180px;
}
.content-msg-form{
    padding-top:45px;
}
#modal-unconfirmed{
    position:fixed;
    top:25%;
    left:50%;
    z-index:9999998;
    margin-left:-180px;
}
#submit-loader{
    position:fixed;
    top:0;
    left:0;
    z-index:9999999;
    background-color:rgba(255, 255, 255, 0.2);
    width:100%;
    height:100%;
}
.not-display{
    display:none;
}
#loading-img{
    position:fixed;
    top:40%;
    left:50%;
    margin-left:-33px;
}