<%= javascript_include_tag "/js/flujo.js" %>
<br>
<div class="full-width padding-h20">
	<div class='label-form-title alegreya-text'>Generar flujo</div>

	
	 <div class="row alegreya-text" style="padding-left: 13px;">
    <div class="col-sm-5 col-md-5">
    <%= form_for @transaction, :url => '/finance_data', :method => 'post'  do |f| %>

    	<%= f.hidden_field :person_id, :value => current_user.person_id %>
    	<input type="hidden" name="transaction_id" id="transaction_id" value="">
    	<input type="hidden" name="result" id="result" value="0">
    	<input type="hidden" name="months" id="months" value="0">
    	<input type="hidden" name="date" id="start_date" value="<%= Date.today %>"
    		data-enddate="<%= current_user.person.birth_date + current_user.person.age_retirement.years %>" />
    	<%= f.hidden_field :tem, :value => '' %>

      <div class="form-group">
        <%= f.label 'Salario', class: 'custm-label-for'%>
        <%= f.text_field :salary, class: 'form-control', 
                  :placeholder => "Ingresa tu salario", :value => current_user.financial.salary %>
      </div>

      <div class="form-group">
        <%= f.label 'AFP', class: 'custm-label-for'%>
        <select id="afp_id" name="afp_id" class="form-control">
          <% Afp.all.each do |afp| %>
          <% (afp.id == current_user.financial.afp_id) ? selected = 'selected="selected"' : selected = "" %> 
          <option value="<%= afp.commission_balance %>" <%= selected %>><%= afp.name + '  ( ' + (afp.comission_input * 100).to_s + ' %)' %></option>
          <% end %>
        </select>
      </div>

      <div class="form-group">
        <%= f.label 'Tipo de Fondo', class: 'custm-label-for'%>
        <select id="fund_id" name="fund_id" class="form-control">
          <% FundType.all.each do |f| %>
          <option value="<%= f.type_index %>"><%= "Fondo tipo" + f.type_index.to_s + '  ( ' + (f.performance * 100).to_s + ' %)' %></option>
          <% end %>
        </select>
      </div>
      
     
      <div class="form-group">
        <%= f.label 'Calcular de hoy ' + Date.today.to_s + ' hasta',
         class: 'custm-label-for', id: 'label_date' %>
        <div class='input-group date' id='bday'>
          <input type="text" name="birth_date" id="birth_date" class="form-control" 
          	value="<%= current_user.person.birth_date + current_user.person.age_retirement.years %>">
          <span class="input-group-addon">
            <span class="fa fa-calendar"></span>
          </span>
        </div>
      </div>

      <div class="form-group">
        <div class="pull-right">
          <button type="button" class="btn accept-green" id="generar" onclick="return test2();">Generar</button>
        </div>
      </div>

      <div class="form-group">
        <div class="pull-left">
        	<button type="button" class="btn btn-default" onclick="location.reload();">Refresh</button>
        </div>
      </div>

		<% end %>
    </div>
    <div class="col-sm-7 col-md-7 open-sans">
    	<center>
    		<div class="result-container" id="result-c" style="width:320px;">
	    		<div class="full-width empty-text">No as creado ningun flujo</div>
	    	</div>
    	</center>
    </div>
	</div>
</div>

<%= render 'transactions/process/afp' %>