<% if current_user.present? %>
	<div class="row-fluid">
    <div id="left-bar">
      <%= render 'shared/sidebar' %>
    </div>
    <div id="center-bar">
      <%= yield %>
    </div>
  </div>
<% else %>
  <%= yield %>
<% end %>