<!DOCTYPE html>
<html>
<head>
  <title>LearnEasy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Comfortaa:400,300,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Alegreya+Sans:400,300,400italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'shared/messages' %>
  <%= render 'shared/nav' %>
  <%= render 'shared/auth' %>
  <div style="margin-top: 60px;">
    <%= render 'layouts/middleBody' %>
  </div>

</body>
</html>
